#!/usr/bin/make -f

# GNU Smalltalk's configure adds -Wno-format which conflicts with
# dpkg-buildflags' -Werror=format-security. Disable format hardening.
export DEB_BUILD_MAINT_OPTIONS = hardening=+all,-format

%:
	dh $@ --without autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
		--libexecdir='$${prefix}/lib' \
		--with-imagedir=/usr/lib/gnu-smalltalk \
		--enable-gtk=yes \
		--without-emacs \
		--with-system-libffi \
		--with-system-libsigsegv \
		--with-system-libltdl \
		--disable-relocatable

override_dh_auto_build:
	dh_auto_build
	chmod +x $(CURDIR)/debian/tmp/usr/lib/gnu-smalltalk/gst.im || true

override_dh_auto_clean:
	-[ -f Makefile ] && [ -f config.status ] && $(MAKE) distclean
	rm -f conftest* confdefs.h config.log config.status config.cache

override_dh_auto_test:
	-dh_auto_test

override_dh_missing:
	dh_missing --list-missing

override_dh_makeshlibs:
	dh_makeshlibs --exclude=/usr/lib/x86_64-linux-gnu/smalltalk/
